---
layout: default
---

{% include header.html %}

<script>
  // creates PT object. Includes front matter used to build page
  var PT = {
    lang: '{{page.lang}}',
    iso3: '{{page.iso3}}',
    iso2: '{{page.iso2}}',
    name: '{{page.name}}',
    admin: '{{page.admin}}',
    flag: '{{page.flag}}',
    contact: '{{page.contact}}',
    calendar: '{{page.calendar}}',
    osmLink: '{{page.osmLink}}',
    bbox: '{{page.osmLink}}',
    hotProjects: [
      {% for p in page.tm-projects %}
      '{{ p.id }}',
      {% endfor %}
    ]
  };
  console.log(PT.hotProjects)
</script>

<h1>{{ page.name }}</h1>

<section id = "Primary" >
  {% include intro.html %}
</section>

<section class = "Current-Projects">
  {% include projects.html %}
</section>

<section class = "Teams">
  {% include teams.html %}
</section>

<!-- <section class = "Updates">
  {% include updates.html %}
</section> -->

<section class = "Events">
  {% include events.html %}
</section>

{% include footer.html %}
