<h1>Events</h1>
<div class = "events-null">
  <img src = "{{ site.domain }}{{ site.path_prefix }}/assets/graphics/content/process/Mapathon.svg" width = "200"></img>
	<p>There are no upcoming events for {{ page.name }}, but you can still get involved!</p>
	<p>
  <a href="http://missingmaps.org/host" class="btn btn-blue">Host A Mapathon</a>
  <a href="http://www.missingmaps.org/events/" class="btn btn-blue">All MissingMaps Events</a>
  </p>
</div>
<div class="events-panel">
  <div id="events-spinner"><i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i></div>
  <div id="event-content">
  <div id="event-cards" class="row small-up-1 medium-up-1 large-up-2"></div>
  </div>
  <div class="btn invert-btn-grn events-btn">SEE MORE</div>
</div>
