<h1>Updates</h1>
{% for u in page.updates %}
{% if u.title %}
<div class = "Updates-Container">
  <div class = "Updates-Content">
  <br/>
    <h2>{{ u.title }}</h2>
    <p>{{ u.author }}</p>
    <p>{{ u.date }}</p>
    <br/>
    <p>{{ u.content }}</p>
    {% if u.link %}
    <a href= "{{ u.link }}" class="btn btn-blue" id="TM-Contribute-Btn-{{ p.id }}">{{ u.linktext }}</a>
    {% endif %}
  </div>
</div>
{% endif %}
{% endfor %}
<div class = "updates-null">
	<p>There currently are no updates. If there's somemthing particular to this country that you'd like to share reach out to us. We'll add it to the site!</p>
	<p>
  <img src = "{{ site.domain }}{{ site.path_prefix }}/assets/graphics/content/process/helper.svg" width = "200"></img>
  <a href="mailto:{{ page.contact }}" class="btn btn-blue">Contact  Lead</a>
  </p>
</div>
