<h1 id="updates-h1">Updates</h1>
{% for update in site.updates %}
 {% if update.code == page.code %}
 <div class = "Updates-Container">
 <div class = "Updates-Content">
 <br/>
   <h2>{{ update.title }}</h2>
   <p>{{ update.author }}</p>
   <p>{{ update.published }}</p>
   <br/>
   <p>{{ update | markdownify }}</p>
   {% if update.link %}
   <a href= "{{ update.link }}" class="btn btn-blue" id="TM-Contribute-Btn-{{ p.id }}">{{ update.linktext }}</a>
   {% endif %}
 </div>
</div>
 {% endif %}
{% endfor %}
